@import '../workspace.component.scss';
.texera-navigation-body {
  background-color: #fff;
  width: 100%;
  padding:0;
  box-shadow: 0px 2px 8px #cecece;
  z-index: 1001;
}

.button {
  display: inherit;
  .btn.btn-secondary {
    margin-right: 5px;
  }
}

.texera-navigation-title {
  margin-left: 16px;
}

.texera-navigation-utilities {
  display: inline;
}

.texera-navigation-execute {
  float: right;
  margin-right: 16px;
}

.utility-button:hover {
  cursor: pointer;
  color: gray;
}

.utility-button-disabled {
  color: gray;
}

.utility-button-disabled:hover {
  color: gray;
}

.texera-navigation-run-text {
  font-size: 1rem;
}

.texera-navigation-run-button {
  margin-right: 3%;
  background-color: #5081F3;
  color: white;
  &:hover {
    background-color: #2E66E9;
  }
  .mat-raised-button {
    height: 30px;
  }
  .fa {
    padding-right: 6px;
  }
}

.version-number {
  font-size: 10px;
}

.drop-down-item {
  display: block;
  width: 100%;
  text-align: left;
  border: transparent;
  background-color: transparent;
}

.drop-down-item:hover {
  background-color: #C6C6C6;
  cursor: pointer;
}

.drop-down-button{
  padding: 0px;
  border: 0px;
  background-color: transparent;
}

.drop-down-icon{
  margin-right: 0px;
}
