<nz-modal [nzVisible]="isModalVisible" nzTitle = '{{dictionary.name}}' nzCancelText = 'close' (nzOnCancel) = 'closeModal()'>
    <div class="modal-body">
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let item of dictionary.items" [selectable]="selectable" [removable]="removable"
          (removed)="remove(item)">
          {{item}}
          <mat-icon matChipRemove *ngIf="removable">
            <i class="fa fa-times-circle"></i>
          </mat-icon>
        </mat-chip>
      </mat-chip-list>
      <br>
      <mat-divider></mat-divider>
      <br>

      <mat-dialog-actions>
        <input *ngIf="ifAdd" matInput [(ngModel)]="name" placeholder="Add into dictionary">
        <button type="button" class="btn btn-outline-dark add-button" (click)="addDictionaryItem()">Add</button>
      </mat-dialog-actions>
    </div>
</nz-modal>
