<div class="user-dictionary-container subsection-grid-container">
  <mat-card class="button-area subsection-grid-container">
    <div ngbDropdown class="d-inline-block">
      <button nz-button nz-dropdown [nzDropdownMenu]="menu" id="sortDropdown">Sort<i nz-icon nzType="down"></i></button>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item>
            <a nz-button nzType='link' class='ant-btn-link sorting_func' (click)="sizeSort()">By Dictionary Size</a>
          </li>
          <li nz-menu-item>
            <a nz-button nzType='link' class='ant-btn-link sorting_func' (click)="ascSort()">A -> Z</a>
          </li>
          <li nz-menu-item>
            <a nz-button nzType='link' class='ant-btn-link sorting_func' (click)="dscSort()">Z -> A</a>
          </li>
        </ul>
      </nz-dropdown-menu>
      <button nz-button (click)="openNgbdModalResourceAddComponent()"><i nz-icon nzType="cloud-upload"
          nzTheme="outline"></i></button>
    </div>
  </mat-card>

  <mat-card class="user-dictionary-list subsection-grid-container">
    <mat-card-content>
      <mat-list>
        <h2 class="page-title">Dictionaries</h2>
        <br />
        <div class="scroll">
          <mat-list-item *ngFor="let dictionary of userDictionaries" class="user-dictionary-list-item">
            <ng-template #tipContent>Description: {{dictionary.description}}</ng-template>
            <div class="section-for-tip" placement="bottom" nz-popover nzPopoverContent="{{tipContent}}">
              <p><span class="dict-name">
                  {{dictionary.name}}</span>
              </p>
              <p>
                Item Preview:
                <mat-chip class="preview-item" *ngFor="let item of dictionary.items.slice(0,3)" [selectable]="true">
                  {{item}}
                </mat-chip>
              </p>
            </div>
            <span class="gap-filler"></span>
            <nz-button-group>
              <button nz-button (click)="openNgbdModalResourceViewComponent(dictionary)"><i nz-icon nzType="edit"
                  nzTheme="outline"></i></button>
              <button nz-button placement="bottom" (click)="openNgbdModalResourceDeleteComponent(dictionary)"><i nz-icon
                  nzType="delete" nzTheme="outline"></i></button>
            </nz-button-group>
          </mat-list-item>
        </div>
      </mat-list>
    </mat-card-content>
  </mat-card>

</div>

<ng-template texeraUserDictionarySectionModalRoot>
  <!-- modals dynamically loaded here-->
</ng-template>
