
.texera-navigation-title {
  margin-left: 16px;
}

.texera-navigation-body {
  justify-content: space-between;
}
.texera-user-account-icon{
  float:right;
}

.texera-brand{
  font-size: 1.2rem;
}

.version-number {
  font-size: 10px;
}

.toolbar {
  background-color: #fff;
  padding:0;
  box-shadow: 0px 2px 8px #cecece;
}
